@font-face {
font-family: 'Chalet_London';
src: url('https://github.com/kaltkopf/larionov-project/raw/7a4ca40e8e63bccbc101c43311f3f0061a42f93c/Chalet_London.woff') format('woff');
}
@font-face {
font-family: 'FoglihtenNo06';
src: url('https://github.com/kaltkopf/larionov-project/raw/7a4ca40e8e63bccbc101c43311f3f0061a42f93c/FoglihtenNo06.woff') format('woff');
}